a {
    color: inherit;
}

a:hover {
    color: orange;
}

button, input[type="submit"] {
    cursor: pointer;
}

input {
    display: block;
    margin: 0.5rem 0;
}

table {
    border-collapse: separate;
    border-spacing: 0.5rem;
    text-align: left;
}

h1 a {
    text-decoration: none;
}

li {
    margin-bottom: 0.5rem;
}

.success {
    color: green;
}